footer#main-footer.padding-lg-vertical
  .container
    .row
      .col-xs-12
        section.col-xs-12.col-sm-3.content
          header A la carte
          ul
            li
              a(href="#") Destinations
            li
              a(href="#") Voyages
            li
              a(href="#") Activités
        section.col-xs-12.col-sm-3.legal
          header Légal
          ul
            li
              a(href="#") CGU
            li
              a(href="#") CGV
            li
              a(href="#") Assurances
        section.col-xs-12.col-sm-3.group
          header Worldia Group
          ul
            li
              a(href="#") Qui sommes-nous ?
            li
              a(href="#") Jobs
        section.col-xs-12.col-sm-3.social.text-right
          header Rejoignez-nous
          ul
            li
              a(href='https://www.facebook.com/Worldia/')
                i.fa.fa-facebook
            li
              a(href='https://www.facebook.com/Worldia/')
                i.fa.fa-twitter
            li
              a(href='https://www.linkedin.com/company/2980106')
                i.fa.fa-linkedin
    // hr
.container
  .row
    .col-xs-12.text-center.text-muted
      p worldia 2016 - tous droits réservés
