nav#main-nav.navbar.navbar-fixed-top
  .container
    a.navbar-brand(href='#')
      span.logo worldia
      span.lead &nbsp; | voyage sur mesure
    a.pull-right.navbar-btn.btn.round.btn-primary.outline(href='#') mon compte
