#hero-carousel.carousel.slide(data-ride='carousel')
  ol.carousel-indicators
    li.active(data-target='#hero-carousel', data-slide-to='0')
    li(data-target='#hero-carousel', data-slide-to='1')
    li(data-target='#hero-carousel', data-slide-to='2')
    li(data-target='#hero-carousel', data-slide-to='3')
  .carousel-inner(role='listbox')
    .item.active.first-slide
      img.img-responsive(src="../assets/images/hero/lookingcity.jpg")
      .container
        .carousel-caption
          h1
            | Devenez votre propre
            br
            | agent de voyage.
          p
            a.btn.btn-lg.btn-primary(href='#', role='button') Choisir une destination
    .item.second-slide
      img.img-responsive(src="../assets/images/hero/car.jpg")
      .container
        .carousel-caption
          h1
            | Devenez votre propre
            br
            | agent de voyage.
          p
            a.btn.btn-lg.btn-primary(href='#', role='button') Choisir une destination
    .item.third-slide
      img.img-responsive(src="../assets/images/hero/ocean.jpg")
      .container
        .carousel-caption
          h1
            | Devenez votre propre
            br
            | agent de voyage.
          p
            a.btn.btn-lg.btn-primary(href='#', role='button') Choisir une destination
    .item.fourth-slide
      img.img-responsive(src="../assets/images/hero/rastaquere.jpg")
      .container
        .carousel-caption
          h1
            | Devenez votre propre
            br
            | agent de voyage.
          p
            a.btn.btn-lg.btn-primary(href='#', role='button') Choisir une destination
  //- a.carousel-control.left(href='#hero-carousel', data-slide='prev') ‹
  //- a.carousel-control.right(href='#hero-carousel', data-slide='next') ›