#how-it-works.container.padding-lg-vertical
  .row
    .col-md-2
      h3.text-left Comment ça marche?
    .col-md-10
      .explanation
        section.exp-item.col-xs-12.col-sm-6.col-md-3
          .exp-item-icon
            img(src='assets/images/icons/map.png')
          header.exp-item-text
            | Choisissez
            br
            | une destination
        section.exp-item.col-xs-12.col-sm-6.col-md-3
          .exp-item-icon
            img(src='assets/images/icons/customize.png')
          header.exp-item-text Personnalisez
          .exp-item-description Trajets, Hôtels, Activités
        section.exp-item.col-xs-12.col-sm-6.col-md-3
          .exp-item-icon
            img(src='assets/images/icons/bill.png')
          header.exp-item-text Obtenez un devis
          .exp-item-description Immédiatement !
        section.exp-item.col-xs-12.col-sm-6.col-md-3
          .exp-item-icon
            img(src='assets/images/icons/cocktail.png')
          header.exp-item-text Profitez