.gray-bg
  .container.padding-lg-vertical
    .row
      .col-xs-12
        h3(style="text-align:center; padding-bottom: 40px;") Voyages créés par la communauté
    .row
      .col-xs-12.col-sm-6.col-md-3
        figure.trip-card
          img.thumb(src="../assets/images/trips/newyorkmiami.jpg")
          figcaption
            a(href="#")
              h2 New York & Miami
            p 9 jours
            p.member
              | Créé par&nbsp;
              span.name Odile
              img(src="http://www.fillmurray.com/50/50")
      .col-xs-12.col-sm-6.col-md-3
        figure.trip-card
          img.thumb(src="../assets/images/trips/basicthai.jpg")
          figcaption
            a(href="#")
              h2 Basic Thai
            p 10 jours
            p.member
              | Créé par&nbsp;
              span.name Odile
              img(src="http://www.fillmurray.com/50/50")
      .col-xs-12.col-sm-6.col-md-3
        figure.trip-card
          img.thumb(src="../assets/images/trips/bali.jpg")
          figcaption
            a(href="#")
              h2 Bali et les îles
            p 10 jours
            p.member
              | Créé par&nbsp;
              span.name Odile
              img(src="http://www.fillmurray.com/50/50")
      .col-xs-12.col-sm-6.col-md-3
        figure.trip-card
          img.thumb(src="../assets/images/trips/newyorkmiami.jpg")
          figcaption
            a(href="#")
              h2 New York & Miami
            p 9 jours
            p.member
              | Créé par&nbsp;
              span.name Odile
              img(src="http://www.fillmurray.com/50/50")
      .col-xs-12.col-sm-6.col-md-3
        figure.trip-card
          img.thumb(src="../assets/images/trips/basicthai.jpg")
          figcaption
            a(href="#")
              h2 Basic Thai
            p 10 jours
            p.member
              | Créé par&nbsp;
              span.name Odile
              img(src="http://www.fillmurray.com/50/50")
      .col-xs-12.col-sm-6.col-md-3
        figure.trip-card
          img.thumb(src="../assets/images/trips/bali.jpg")
          figcaption
            a(href="#")
              h2 Bali et les îles
            p 10 jours
            p.member
              | Créé par&nbsp;
              span.name Odile
              img(src="http://www.fillmurray.com/50/50")
      .col-xs-12.col-sm-6.col-md-3
        figure.trip-card
          img.thumb(src="../assets/images/trips/newyorkmiami.jpg")
          figcaption
            a(href="#")
              h2 New York & Miami
            p 9 jours
            p.member
              | Créé par&nbsp;
              span.name Odile
              img(src="http://www.fillmurray.com/50/50")
      .col-xs-12.col-sm-6.col-md-3
        figure.trip-card
          img.thumb(src="../assets/images/trips/basicthai.jpg")
          figcaption
            a(href="#")
              h2 Basic Thai
            p 10 jours
            p.member
              | Créé par&nbsp;
              span.name Odile
              img(src="http://www.fillmurray.com/50/50")