// section, footer#main-footer {
//   padding: 120px 0;
// }
.hero {
  background: blue;
  height: 500px;
  display: block;
  background-image: url('../images/lookingcity.jpg');
  background-size: cover;
}

.gray-bg {
  background: #f2f2f2;
}

.padding-lg-vertical {
  padding: 80px 0;
}